@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@300;500&family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0; }

.bodyCont {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bodyCont hr {
    width: 90%;
    border-style: solid;
    border-color: #B2B2B2; }

header {
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1; }
  header .headerCont {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .headerCont .brand {
      display: flex;
      align-items: center; }
      header .headerCont .brand a {
        color: #033FFF;
        text-decoration: none;
        font-family: 'Bree Serif';
        font-weight: 400;
        font-size: 25px; }
    header .headerCont .navbar {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      header .headerCont .navbar a {
        color: #B2B2B2;
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 17px;
        transition: 0.2s; }
        header .headerCont .navbar a:hover {
          color: #033FFF; }
        header .headerCont .navbar a:active {
          color: #3C4048; }
  header .searchCont {
    width: 178px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .searchCont .fa-solid {
      color: #B2B2B2;
      transition: 0.2s; }
      header .searchCont .fa-solid:hover {
        color: #033FFF; }
      header .searchCont .fa-solid:active {
        color: #3C4048; }
    header .searchCont input {
      color: #B2B2B2;
      font-family: 'Poppins';
      font-weight: 300;
      font-size: 12px;
      border-color: #B2B2B2;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px; }
      header .searchCont input:hover {
        border-color: #033FFF; }

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; }
  main .mainCont {
    width: 90%;
    height: auto; }
    main .mainCont .main1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 80vh; }
      main .mainCont .main1 .leftCont {
        width: 51%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .mainCont .main1 .leftCont .slogan {
          width: 100%;
          margin-bottom: 45px; }
          main .mainCont .main1 .leftCont .slogan h3 {
            color: #3C4048;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 65px; }
            main .mainCont .main1 .leftCont .slogan h3 span {
              color: #033FFF; }
        main .mainCont .main1 .leftCont .client {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center; }
          main .mainCont .main1 .leftCont .client img {
            width: 235px; }
          main .mainCont .main1 .leftCont .client div {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start; }
            main .mainCont .main1 .leftCont .client div p {
              font-family: 'Poppins';
              font-weight: 300;
              font-size: 15px;
              color: #3C4048; }
            main .mainCont .main1 .leftCont .client div button {
              width: 132px;
              height: 47px;
              background-color: none;
              border-radius: 5px;
              border-style: solid;
              border-color: #033FFF;
              transition: 0.2s; }
              main .mainCont .main1 .leftCont .client div button:hover {
                transform: scale(0.9); }
              main .mainCont .main1 .leftCont .client div button:active {
                border-color: #3C4048;
                color: #3C4048; }
              main .mainCont .main1 .leftCont .client div button a {
                text-decoration: none;
                color: #033FFF;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 13px; }
                main .mainCont .main1 .leftCont .client div button a:active {
                  border-color: #3C4048;
                  color: #3C4048; }
      main .mainCont .main1 .rigthCont {
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; }
        main .mainCont .main1 .rigthCont img {
          width: 620px;
          z-index: 2;
          transition: 0.2s; }
          main .mainCont .main1 .rigthCont img:hover {
            transform: rotate(10deg); }
        main .mainCont .main1 .rigthCont .backCardTarget {
          position: absolute;
          border-radius: 15px 0px 0px 15px;
          right: 0px;
          top: 365px;
          width: 73%;
          height: 40%;
          z-index: -1;
          background-color: rgba(0, 46, 148, 0.09); }
    main .mainCont .main2 {
      width: 100%;
      height: 70vh;
      display: flex;
      flex-direction: row; }
      main .mainCont .main2 .leftCont2 {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        main .mainCont .main2 .leftCont2 img {
          width: 310px;
          z-index: 2; }
        main .mainCont .main2 .leftCont2 .backCardTarget2 {
          position: absolute;
          border-radius: 0px 15px 15px 0px;
          left: 0px;
          z-index: -1;
          width: 20%;
          height: 75%;
          background-color: #033FFF; }
      main .mainCont .main2 .rigthCont2 {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        main .mainCont .main2 .rigthCont2 .slogan2 {
          font-family: 'Poppins';
          font-weight: 700;
          font-size: 45px;
          color: #3C4048; }
          main .mainCont .main2 .rigthCont2 .slogan2 span {
            color: #033FFF; }
        main .mainCont .main2 .rigthCont2 p {
          font-family: 'Poppins';
          font-weight: 300;
          font-size: 25px; }
        main .mainCont .main2 .rigthCont2 button {
          width: 300px;
          height: 55px;
          border-radius: 5px;
          background-color: #033FFF;
          border-style: none;
          transition: 0.2s; }
          main .mainCont .main2 .rigthCont2 button:hover {
            transform: scale(0.9); }
          main .mainCont .main2 .rigthCont2 button:active {
            background-color: #3C4048;
            color: white; }
          main .mainCont .main2 .rigthCont2 button a {
            text-decoration: none;
            color: white;
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 18px; }
    main .mainCont .main3 {
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      main .mainCont .main3 .main3Cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        main .mainCont .main3 .main3Cont h4 {
          font-family: 'Poppins';
          font-weight: 700;
          font-size: 45px;
          color: #3C4048; }
          main .mainCont .main3 .main3Cont h4 span {
            color: #033FFF; }
        main .mainCont .main3 .main3Cont section {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly; }
          main .mainCont .main3 .main3Cont section div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 240px;
            height: 160px;
            border-radius: 13px;
            background-color: #033FFF;
            transition: 0.2s; }
            main .mainCont .main3 .main3Cont section div a {
              height: 70%;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly; }
              main .mainCont .main3 .main3Cont section div a .fa-solid {
                color: white; }
              main .mainCont .main3 .main3Cont section div a h6 {
                font-family: 'Poppins';
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                color: white; }
            main .mainCont .main3 .main3Cont section div:hover {
              transform: scale(0.9); }
            main .mainCont .main3 .main3Cont section div:active {
              background-color: #3C4048; }

footer {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  footer .footerCont {
    padding-top: 18px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .footerCont .columnsFoot {
      width: 33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footerCont .columnsFoot h5 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 25px;
        color: #3C4048; }
      footer .footerCont .columnsFoot a {
        margin: 12px;
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 17px; }
      footer .footerCont .columnsFoot .ColumnCont {
        display: flex;
        flex-direction: column;
        align-items: center; }
      footer .footerCont .columnsFoot .ColumnContRedes {
        display: flex;
        flex-direction: column;
        align-items: center; }
      footer .footerCont .columnsFoot .ColumnContApp {
        display: flex;
        flex-direction: column;
        align-items: center; }
