@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@300;500&family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0; }

.bodyCont {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bodyCont hr {
    width: 90%;
    border-style: solid;
    border-color: #B2B2B2; }

header {
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: center; }
  header .headerCont {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .headerCont .brand {
      display: flex;
      align-items: center; }
      header .headerCont .brand a {
        color: #033FFF;
        text-decoration: none;
        font-family: 'Bree Serif';
        font-weight: 400;
        font-size: 25px; }
    header .headerCont .navbar {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      header .headerCont .navbar a {
        color: #B2B2B2;
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 17px;
        transition: 0.2s; }
        header .headerCont .navbar a:hover {
          color: #3C4048; }
  header .searchCont {
    width: 178px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .searchCont .fa-solid {
      color: #B2B2B2; }
    header .searchCont input {
      color: #B2B2B2;
      font-family: 'Poppins';
      font-weight: 300;
      font-size: 12px;
      border-color: #B2B2B2;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px; }
      header .searchCont input:hover {
        border-color: #033FFF; }

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; }
  main .mainCont {
    width: 90%;
    height: auto; }
    main .mainCont .colorDesign {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 90vh; }
      main .mainCont .colorDesign .leftCont {
        width: 51%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .mainCont .colorDesign .leftCont .slogan {
          width: 100%;
          margin-bottom: 45px; }
          main .mainCont .colorDesign .leftCont .slogan h3 {
            color: #3C4048;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 65px; }
            main .mainCont .colorDesign .leftCont .slogan h3 span {
              color: #033FFF; }
        main .mainCont .colorDesign .leftCont .client {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center; }
          main .mainCont .colorDesign .leftCont .client img {
            width: 235px; }
          main .mainCont .colorDesign .leftCont .client div {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start; }
            main .mainCont .colorDesign .leftCont .client div p {
              font-family: 'Poppins';
              font-weight: 300;
              font-size: 15px;
              color: #3C4048; }
            main .mainCont .colorDesign .leftCont .client div button {
              width: 132px;
              height: 47px;
              background-color: none;
              border-radius: 5px;
              border-style: solid;
              border-color: #033FFF;
              transition: 0.2s; }
              main .mainCont .colorDesign .leftCont .client div button:hover {
                transform: scale(0.9); }
              main .mainCont .colorDesign .leftCont .client div button:active {
                border-color: #3C4048;
                color: #3C4048; }
              main .mainCont .colorDesign .leftCont .client div button a {
                text-decoration: none;
                color: #033FFF;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 13px; }
                main .mainCont .colorDesign .leftCont .client div button a:active {
                  border-color: #3C4048;
                  color: #3C4048; }
      main .mainCont .colorDesign .rigthCont {
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; }
        main .mainCont .colorDesign .rigthCont img {
          width: 620px;
          z-index: 1;
          transition: 0.2s; }
          main .mainCont .colorDesign .rigthCont img:hover {
            transform: rotate(10deg); }
        main .mainCont .colorDesign .rigthCont .backCardTarget {
          position: absolute;
          right: 0px;
          top: 365px;
          width: 73%;
          height: 40%;
          z-index: -1;
          background-color: rgba(0, 46, 148, 0.09); }
