footer{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .footerCont{
        padding-top: 18px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .columnsFoot{
            width: 33%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h5{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 25px;
                color: #3C4048;
            }
            a{
                margin: 12px;
                text-decoration: none;
                font-family: 'Poppins';
                font-weight: 300;
                font-size: 17px;
                transition: 0.2s;
                &:hover{
                    color: #033FFF;
                }
                &:active{
                    color: rgba(0, 46, 148, 0.6);
                }
            }
            .ColumnCont{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 25px;
                a{
                    color: #3C4048;
                    transition: 0.2s;
                    &:hover{
                        color: #033FFF;
                    }
                    &:active{
                        color: rgba(0, 46, 148, 0.6);
                    }
                }
            }
            .ColumnContRedes{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 25px;
                div{
                    a{
                        color: #3C4048;
                        transition: 0.2s;
                        &:hover{
                            color: #033FFF;
                        }
                        &:active{
                            color: rgba(0, 46, 148, 0.6);
                        }
                    }
                }
            }
            .ColumnContApp{
                display: flex;
                flex-direction: column;
                align-items: center;
                div{
                    a{
                        color: #3C4048;
                        transition: 0.2s;
                        &:hover{
                            color: #033FFF;
                        }
                        &:active{
                            color: rgba(0, 46, 148, 0.6);
                        }
                    }
                }
            }
        }
    }
}