@media screen and (max-width: 1200px){
    footer{
        .footerCont{
            flex-direction: column;
            .columnsFoot{
                padding: 20px 0px;
                width: 100%;
                text-align: center;
            }
        }
    }
}